.container{
    width: 95%;
    margin: auto;
    padding: 40px;
    background-color: #3f3f3f;
    height: calc(95vh - 100px);
}

.items{


}

.item{ 
    background-color: var(--addiction-color-1);
    
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    
}
.itemContent{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.itemContent div{
    color: var(--color);

}
.itemDescription{
    display: none;
}