.container{

}
.content{

}

.tabsNavigation{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-around;
}
.tabsNavigation div{
    width: 50%;
    cursor: pointer;
    background-color: var(--color);
    text-align: center;
    height: 50px;
    vertical-align:middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabsNavigation div:hover{
    background-color: var(--addiction-color-2);
    color: var(--color);
}
.tabsNavigation div:hover >h4{
    color: var(--color);
}
